
.Header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 150px;
    justify-content: left;
}

.nav-items>ul{
    display: flex;
    list-style-type: none;
    font-size: 18px;
}

.nav-items > ul>li{
    padding: 10px;
    margin: 10px;
}

.body{
    justify-content: center;
}

.res-image{
    width: 100%;
}

.res-card{
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(236, 245, 236);
}

.restaurantContainer{
    display: flex;
    flex-wrap: wrap;
}